<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Clocks" icon="ion-clock" href="#/page6/page2">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Alarm" icon="ion-android-alarm-clock" href="#/page6/page16">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Map" icon="ion-android-map" href="#/page6/page3">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Settings " icon="ion-ios-gear" href="#/page6/page15">
            <ion-nav-view name="tab9"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>