<ion-view title="Welcome">
    <ion-content padding="'true'" class="has-header">
        <a menu-close="" href="#/page6/page15" class="button button-stable button-outline  icon ion-android-arrow-back"></a>
        <h1>WELCOME</h1>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select Language</span>
                <select></select>
            </label>
        </form>
        <form class="list"></form>
    </ion-content>
</ion-view>